p {
  margin-bottom: 0;
  margin-right: 25px;
}
ul {
  list-style: none;
  line-height: 20px;
  color: white;
  font-size: 16px;
  text-align: center;
  padding-left: 0;
}
button {
  background: #666666;
  border: none;
  color: white;
  padding: 5px;
  border-radius: 5px;
}
.container.small {
background: linear-gradient(rgb(105, 118, 233), rgb(118, 176, 179));
  width: 92%;
  margin-top: 5px;
  border-radius: 5px;
}
li:first-letter {
  text-transform: capitalize;
}